:root {
  /* font */
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-raleway: "Raleway", sans-serif;

  /* color */
  --main-color: #ffffff;
  --logo-color: #4d5ae5;
  --head-logo-color: #2e2f42;
  --footer-logo-color: #f4f4fd;
  --main-text-color: #434455;
  --menu-link-color: #404bbf;
  --border-bottom-color: #e7e9fc;
  --border-customers-color: #8e8f99;
  --customers-box-color: #afb1b8;
  --footer-social-media-color: #31d0aa;
  --modal-background: #fcfcfc;

  /* transition */
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset */
body {
  font-family: var(--font-family-roboto);
  color: var(--main-text-color);
  background: var(--main-color);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 428px), screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* =====================HEADER===================== */
/* mobile */
/* dekstop */

.menu-header {
  display: none;
}
.main-address {
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger {
  stroke: var(--head-logo-color);
}
.menu-toggle.js-open-menu {
  border: none;
  background-color: transparent;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-header.list {
  display: none;
}
.header {
  border-bottom: 1px solid var(--border-bottom-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-link {
  position: relative;
  transition-property: bacground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.menu-link.current::after {
  background-color: var(--menu-link-color);
}
.menu-link.current {
  color: var(--menu-link-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--menu-link-color);
}

.main-logo-link {
  font-family: var(--font-family-raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.head-logo {
  color: var(--head-logo-color);
}
.footer-logo {
  color: var(--footer-logo-color);
}
.header-size-logo {
  display: inline-block;
  margin-right: 76px;
}
.footer-size-logo {
  display: inline-block;
  margin-bottom: 16px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .menu-header {
    display: block;
  }
  .main-address {
    display: block;
  }
  .burger {
    display: none;
  }
  .menu-toggle.js-open-menu {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .main-nav {
    justify-content: start;
  }

  .menu-header {
    display: flex;
    gap: 40px;
    padding-left: 0px;
  }

  .header {
    max-width: 1440px;
  }

  .main-logo-link.header-size-logo {
    margin-right: 120px;
  }

  .header .menu-header {
    display: flex;
    align-items: center;
  }
  .main-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .main-address {
    font-style: normal;
    margin-left: auto;
  }
  .main-address-list {
    display: flex;
    padding: 6px 0px 6px 0px;
  }
  .contact {
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: bacground-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact:hover,
  .contact:focus {
    color: #404bbf;
  }
  .menu-link {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--head-logo-color);

    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* desctop */
@media screen and (min-width: 1158px) {
  .menu-header .main-logo-link,
  .main-address-list .link {
    display: block;
  }
  .main-address-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .main-address-list {
    display: flex;
    padding: 6px 0px 6px 0px;
    gap: 40px;
  }
}

/* =====================/HEADER===================== */

/* MAIN page*/
/* ======================HERO======================*/
.main-modal-btn {
  font-family: var(--font-family-roboto);
  background-color: var(--logo-color);
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--logo-color);

  display: flex;
  align-items: center;
  cursor: pointer;
  display: block;

  border: none;
  border-radius: 4px;
  margin: auto;

  transition-property: bacground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-modal-btn:hover,
.main-modal-btn:focus {
  background-color: var(--menu-link-color);
}
.hero {
  background-color: var(--head-logo-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  font-family: var(--font-family-roboto);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image_tab@1x.jpg);
    min-width: 320px;
    max-width: 428px;
  }
  .hero .main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    max-width: 320px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image_tab@1x.jpg);
    max-width: 768px;
  }
  .hero .main-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--main-color);
    width: 496px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image_desk@1x.jpg);
    max-width: 1440px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 196dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image_mob@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 196dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image_tab@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 196dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_image_desk@2x.jpg);
  }
}

/* ======================/HERO======================*/

/* ======================ABOUT======================*/
.about-second-header {
  visibility: hidden;
}

.about-section {
  min-width: 320px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-third-header {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--head-logo-color);
  letter-spacing: 0.02em;
}

.about-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .about-icon {
    display: none;
  }

  .about-list {
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-list:not(:last-child) {
    margin-bottom: 72px;
  }

  .about-section {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .about-icon {
    display: none;
  }

  .about-third-header {
    text-align: left;
  }

  .about-list {
    width: 356px;
  }

  .menu-about {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .about-third-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .about-description {
    font-weight: 400;
  }

  .about-icon {
    display: flex;
    width: 264x;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-logo-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .svg-about-icon {
    width: 64px;
    height: 64px;
  }

  .about-list {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
    margin-bottom: 0px;
  }

  .menu-about.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
  }

  .about-list:nth-child(4n) {
    margin-right: 0px;
  }

  .about-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ======================/ABOUT======================*/

/* ========================PORTFOLIO=================== */
.portfolio-second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--head-logo-color);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .portfolio-section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    display: block;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 120px;
  }

  .menu-portfolio {
    display: flex;
  }

  .portfolio-second-header {
    margin-bottom: 72px;
  }

  .portfolio-list {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
  }

  .portfolio-list:nth-child(3n) {
    margin-right: 0px;
  }
}
/* =================/PORTFOLIO============== */
/* ================TEAM=============== */

.team-section {
  background-color: var(--footer-logo-color);
}

.team-list {
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.third-team-header {
  margin-bottom: 8px;
}

.second-team-header {
  margin-bottom: 72px;
}
.sec-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--head-logo-color);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.name-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-description {
  margin-bottom: 8px;
}

.team-social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-media-item {
  width: 40px;
  height: 40px;
}

.team-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--logo-color);
  border-radius: 50%;
  transition: var(--transition-duration-function);
}

.team-social-media-svg {
  fill: var(--footer-logo-color);
  display: flex;
  width: 16px;
  height: 16px;
}

.team-social-media-link:hover,
.team-social-media-link:focus {
  background-color: var(--menu-link-color);
}

/* @media screen and (max-width: 767px) {
  .team-section {
    min-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: auto;
  }

  .menu-team {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }

  .team-social-media-item {
    width: 264px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .team-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .menu-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-section {
    margin: auto;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto;
  }
}

.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--head-logo-color);
  letter-spacing: 0.02em;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
} */

/* =====================/TEAM===================== */
/* =====================TEAM===================== */
/* .team-section {
  background-color: var(--footer-logo-color);

  padding-top: 120px;
  padding-bottom: 120px;
}
.second-team-header {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--head-logo-color);

  text-align: center;
  margin-bottom: 72px;
}

.menu-team {
  display: flex;
  gap: 24px;
  padding-left: 0px;
}

.team-list {
  background-color: var(--main-color);

  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-container {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 4px;
}

.third-team-header {
  font-family: var(--head-logo-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--head-logo-color);

  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  font-family: var(--font-family-roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  text-align: center;
  margin-bottom: 8px;
}

.team-social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-media-item {
  width: 40px;
  height: 40px;
}

.team-social-media-link {
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  justify-content: center;
  align-items: center;
  transition-property: bacground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-media-link:hover,
.team-social-media-link:focus {
  background-color: var(--menu-link-color);
}

.team-social-media-svg {
  fill: var(--footer-logo-color);
} */

/* =====================/TEAM===================== */

/* =====================CUSTOMERS===================== */

.second-customers-header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  line-height: 1.1;
}
.sec-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-customers-color);
  border-radius: 4px;
  color: var(--border-customers-color);
  transition-property: bacground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--menu-link-color);
  color: var(--menu-link-color);
}

.customers-svg {
  fill: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 56px;
}

@media screen and (max-width: 767px) {
  .second-customers-header {
    font-weight: 700;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-container {
    min-width: 320px;
    /* max-width: 428px; */
  }

  .menu-customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .client-listmenu-customers {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .client-listmenu-customers {
    max-width: 1158px;
  }
}

/* .customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-customers-header {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--head-logo-color);

  text-align: center;
  margin-bottom: 72px;
}

.menu-customers {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
} */

/* =====================/CUSTOMERS===================== */

/* =====================FOOTER===================== */
.footer {
  background-color: var(--head-logo-color);

  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-and-description {
  margin-right: 120px;
}
.footer-description {
  font-family: var(--font-family-roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-logo-color);

  max-width: 100%;
}

.footer-social-media-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
  padding-inline-start: 0px;
}

.footer-social-media-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--border-customers-color);
  background-color: var(--logo-color);
  transition-property: bacground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: var(--footer-social-media-color);
}

.footer-social-media-svg {
  fill: var(--footer-logo-color);
}

/* не можу логічне імя селектору footer-social-media-desc, все зникає */
.noname {
  margin-right: 80px;
}

.subscribe-desc {
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}
/* input + btn */
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* input */
.subscribe-input {
  background-color: var(--head-logo-color);
  width: 264px;
  height: 40px;
  outline: 1px solid var(--main-color);
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color);
  padding-left: 16px;
}

.subscribe-input::placeholder {
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--main-color);
  padding-top: 8px;
  padding-bottom: 8px;
  /* padding-left: 16px; */
}

.subscribe-text {
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-color);
}
/* btn */
.subscribe-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background-color: var(--logo-color);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition-duration-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--menu-link-color);
}

/* =====================/FOOTER===================== */
/* /MAIN page*/

/* PORTFOLIO page*/
/* ====================BTN==================== */
.portfolio-main-section {
  padding: 96px 0 120px;
}
/* btn */
.portfolio-modal-btn {
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--footer-logo-color);
  border: 1px solid var(--border-bottom-color);

  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;

  transition-property: color, bacground, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  color: var(--main-color);
  background: var(--menu-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* ====================/BTN==================== */

/* ====================MAIN==================== */

.portfolio-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
}
.portfolio-main-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main-link:hover,
.portfolio-main-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-main-icon {
  border: 1px solid var(--border-bottom-color);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-card-subtitle {
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--head-logo-color);

  margin-bottom: 8px;
}

.portfolio-description {
  font-family: var(--font-family-roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.portfolio-main-description {
  border: 1px solid var(--border-bottom-color);
  border-top: none;
  padding: 32px 16px;
}
/* ====================/MAIN==================== */

/* //PORTFOLIO page*/

/* =================MODAL==================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  width: 408px;
  min-height: 576px;

  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;

  background-color: var(--border-bottom-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: bacground-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover,
.close-modal-button:focus {
  background-color: var(--menu-link-color);
  fill: var(--main-color);
}
/* modal form */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title {
  margin-bottom: 16px;
  text-align: center;
}
.modal-form-lable {
  margin-bottom: 8px;
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--border-customers-color);
  margin-bottom: 4px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  padding-left: 38px;
  opacity: 0.2;
  outline: 1px solid transparent;
  transition: outline-color var(--transition-duration-function);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration-function);
}

.modal-form-input:focus {
  opacity: 1;
  outline-color: var(--logo-color);
  border: transparent;
}

.modal-form-input:focus + .input-icon {
  fill: var(--logo-color);
}

.privacy-policy-container {
  border: none;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  opacity: 0.2;
  border-radius: 4px;
  outline: 1px solid transparent;
  transition: outline-color var(--transition-duration-function);
}
.modal-form-textarea:focus {
  opacity: 1;
  outline-color: var(--logo-color);
  border: transparent;
}

.modal-form-textarea::placeholder {
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.privacy-policy-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-privacy-policy-text {
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--border-customers-color);
}
.privacy-policy-icon {
  margin-right: 8px;
}
.privacy-policy-checkbox {
  appearance: none;
}
.privacy-policy-unchecked {
  opacity: 1;
  transition: opacity var(--transition-duration-function);
}

input[type="checkbox"]:checked
  + .privacy-policy-icon
  > .privacy-policy-unchecked {
  opacity: 0;
}

.privacy-policy-checked {
  opacity: 0;
  transition: opacity var(--transition-duration-function);
}
input[type="checkbox"]:checked
  + .privacy-policy-icon
  > .privacy-policy-checked {
  opacity: 1;
}

.privacy-policy-link {
  color: var(--logo-color);
}

.modal-send-btn {
  font-family: var(--font-family-roboto);
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background-color: var(--logo-color);

  display: flex;
  align-items: center;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: bacground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--menu-link-color);
}

/* =========OVERLAY PORT=========== */
.overlay {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--footer-logo-color);
  background-color: var(--logo-color);
  overflow: auto;
  transform: translate(0, 100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-main-link:hover .overlay,
.portfolio-main-link:focus .overlay {
  transform: translate(0, 0);
}
